.container-banner-gelateria {
    background-image: url('/public/assets/banner-sobre.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sobre {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 0 20px;
}

.container-sobre h2 {
    font-size: max(32px, 2vw);
}

.container-sobre span {
    font-weight: bold;
    font-size: max(20px, 1.1vw);
    font-style: italic;
}

.container-sobre p {
    margin: 40px 0;
}

.container-imagens {
    display: flex;
    align-items:center;
    width: 100%;
}

.container-imagens img {
    width: 50%;
    height: 70vh;
}


@media (max-width: 425px) {

    .container-banner-gelateria {
        background-size: auto;
    }

}


@media (max-width: 768px) {

    .container-imagens {
        display: flex;
        flex-direction: column;
    }

    .container-imagens img {
        width: 100%;
        height: auto;
    }
}